<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <!---titulo e icono--->
  <div class="header">
    <img src="assets/img/logo.jpg" alt="ComicsLocuras Logo" class="logo">
    <ion-icon name="happy" color="light"></ion-icon> <!---emojie ionic-->
    <ion-icon name="sparkles-sharp" color="light"></ion-icon> <!--emojie ionic estrella-->
    <span class="site-title">ComicsLocuras</span>
    <ion-icon name="sparkles-sharp" color="light"></ion-icon> <!--emojie ionic estrella-->
    <ion-icon name="happy"  color="light"></ion-icon>   <!---emojie ionic-->
  </div>
  
  
  
  <!--banner--->
  
  <div class="banners">
    <img src="assets/img/banner deadpool.jpg" alt="ComicsLocuras Banner " class="banner">
  </div>
  
  <p class="text">"¡Cómics, risas y un toque de locura!, no solo vendemos cómics; ofrecemos dosis diarias de diversión, sarcasmo y aventuras épicas.</p>
  
  

  </ion-grid>
  
</ion-content>

<!--ion-footer: Define el pie de página, y puedes ajustar su color de fondo y color del texto.
ion-toolbar: Aplica el color de fondo y el color del texto a la barra dentro del pie de página.
ion-buttons: Usa margin-left: auto para alinear los botones a la derecha.
ion-button: Estiliza los botones dentro del pie de página para que tengan un fondo 
transparente y color de texto blanco.---->
<!---se puede cambiear en caso de -->
<ion-footer>
  <ion-toolbar>
    <ion-title>ComicsLocuras</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://facebook.com/ComicsLocuras" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://twitter.com/ComicsLocuras" target="_blank">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button href="https://instagram.com/ComicsLocuras" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
