<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>
<!---titulo e icono-->
<div class="header">
  <h1>
    <img src="assets/img/logo.jpg" alt="Icono" style="width: 40px; height: 40px;">
    ComicsLocuras
  </h1>
</div>
<!--banner-->

<div class="banner">
  <img src="assets/img/banner.jpg" alt="banner" style="width: 100%; height: auto;">
</div>
<div class="banner">
  <img src="assets/img/banner2.jpg" alt="banner2" style="width: 100%; height: auto;">
</div>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">principal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
